.cart {
  margin-top: 50px;
}

.cart_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  background: rgb(255, 255, 255);
  left: 4%;
  width: 85%;
  padding: 4rem 0px;
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

.text_wrapper {
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 1rem;
  text-align: center;
}

.text_1 {
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(113, 128, 145);
  width: 100%;
  /* text-align: center; */
}

.text_2 {
  font-size: 1rem;
  color: rgb(105, 129, 158);
  padding-top: 0.2rem;
  width: 100%;
}

.button_wrapper {
  text-align: center;
}

.button_container,
.button_container_1 {
  align-items: center;
  margin-top: 1.5rem;
}

.button_container button {
  padding: 0.7em 1.5rem;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #ff5567;
  border: 1px solid #ff5567;
}

.button_container_1 button {
  padding: 0.4em 1.5rem;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #ff5567;
  border: 1px solid #ff5567;
}

@media screen and (max-width: 768px) {
  .cart_container {
    width: 92%;
  }
}

@media screen and (max-width: 548px) {
  .text_1 {
    font-size: 1rem;

    /* text-align: center; */
  }
  .text_2 {
    font-size: 0.9rem;
  }
  .button_container button {
    padding: 0.4em 1rem;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #ff5567;
    border: 1px solid #ff5567;
  }
  .button_container_1 button {
    padding: 0.3em 1rem;
  }
}
