.pizza_party_container {
  flex: 0 65%;
  box-sizing: border-box;
}

p {
  margin: 0 0 10px;
}

.pizza_enquiry {
  max-width: 1350px;
  margin: auto;
  padding: 2em 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section_img {
  width: 100%;
}

.section4_img {
  width: 100%;
  max-width: 50vw;
}

img {
  vertical-align: middle;
  border: 0;
}

.section {
  padding: 2em 4em;
}

.section_title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 1em 0;
  margin: 0;
  text-transform: uppercase;
}

.section_text {
  margin-bottom: 3em;
  font-size: 17px;
}

.background_grey {
  background-color: #f9f8f8;
}

.section_text2 {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 143.1%;
  margin-bottom: 3em;
  text-align: center;
  margin-right: 1rem;
}

.section_text_bold {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 124.2%;
  margin: 0;
  text-align: center;
}

.text_grey {
  color: #727272;
}

/* hr */
.separator {
  border-top: 1px solid #e2e2e2;
}

hr {
  height: 0;
}

/* form section */
.pizza_enquiry .form {
  flex: 0 35%;
  padding-left: 40px;
  box-sizing: border-box;
  position: relative;
}

.form .form_body {
  background: linear-gradient(180deg, #f1f8ff 0%, #f7f7f8 100%);
  border: 1px solid #dff0ff;
  box-sizing: border-box;
  box-shadow: 0px 0px 19px rgb(44 44 44 / 17%);
  border-radius: 4px;
  padding: 32px;
  min-height: 656px;
  max-width: 500px;
  margin: auto;
  position: sticky;
  top: 70px;
}

.form_title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 5px 0;
}

.form_subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 0 1px;
  color: #444444;
  margin-bottom: 24px;
}

form {
  display: block;
  box-sizing: border-box;
}

.form_input_container {
  position: relative;
  padding: 0;
  min-height: 64px;
}

.form_input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: #ffffff;
  border: 1px solid #c8c8c8;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.form_button {
  border-radius: 4px;
  color: white;
  text-align: center;
  display: block;
  padding: 1em;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-top: 1.5em;
}

/* success div */
.success_div {
  height: 548px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.success_icon {
  height: 94px;
}

.success_title {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  margin: 40px 0;
  text-align: center;
}

.success_description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 143.1%;
  margin: 0;
  text-align: center;
}

.success_description a {
  color: #0077a9;
}

@media screen and (max-width: 1100px) {
  .pizza_enquiry {
    flex-direction: column;
  }
  .form {
    flex: 1;
  }
}

@media screen and (max-width: 768px) {
  .pizza_enquiry {
    margin: 0;
    padding: 2em 0;
  }

  img {
    max-width: 100vw;
    margin: 0;
  }
  section {
    padding: 2em 0;
  }
  .section {
    padding: 2em 0em;
  }
  .section_title {
    font-size: 24px;
  }
  .form {
    padding: 0 40px;
  }
  .form_body {
    position: static;
    width: 100%;
  }
  .section4_img {
    max-width: unset;
  }
}

@media (max-width: 548px) {
  .section_text_bold {
    font-size: 16px;
  }
  .section_text2 {
    font-size: 15px;
  }
  .section_img {
    width: 95%;
  }
}
