.home {
  padding: 0;
  /* background: #faf7f2 !important; */
  background-color: #f8f7f7 !important;
}

.intro {
  position: relative;
  z-index: 0;
  height: 648px;
  margin-bottom: 40px;
  z-index: 1;
}

.width_container {
  display: block;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
}

.intro .intro_container .intro_content_container {
  width: 100%;
  box-sizing: border-box;
  place-content: stretch space-between;
  display: flex;
  flex-direction: column;
}

.intro
  .intro_container
  .intro_content_container
  .intro_content_container_inner {
  text-align: center;
}

.intro .intro_container .intro_content_container .intro_head .intro_text {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  min-height: 110px;
  box-sizing: border-box;
  place-content: stretch flex-end;
}

.intro .intro_container .intro_content_container .intro_head .intro_hungry {
  background: linear-gradient(#ff5567, #fc283f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hungry_heading {
  font: 600 24px / 52px Mulish, Roboto, "Helvetica Neue", sans-serif;
  margin-top: 10px;
}

.heading_shrt {
  font: 500 20px / 32px Mulish, Roboto, "Helvetica Neue", sans-serif;
}
.intro .intro_container .intro_content_container .pizza {
  position: relative;
  left: 0;
  justify-content: center;
  align-items: center;
}
.intro .button_container {
  width: 100%;
}
.intro .menu_btn {
  height: 48px;
  min-height: 32px;
  color: rgb(255, 255, 255);
}

.home_btn {
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  overflow: visible;
  margin: 0;
  min-height: 64px;
  line-height: 22px;
  border-radius: 6px;
  padding: 0 24px;
}

.btn_text {
  font: 600 16px / 22px Mulish, Roboto, "Helvetica Neue", sans-serif;
}

.menu_btn .button_wrapper > * {
  vertical-align: middle;
}
.intro .intro_container .intro_content_container .pizza img {
  height: 225px;
  width: 276px;
}

/* section2 */
.section_heading {
  width: auto;
  padding: 20px 10px 10px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.section_heading span {
  font-size: 20px;
  color: #fc283f;
  display: inline-block;
  padding-top: 10px;
}
.section_heading_2 {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 5px; */
}
.hungry_portfolio_container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px 20px 0;
  /* margin-bottom: 20px; */
  justify-content: space-around;
}

.hungry_image_container {
  max-width: 250px;
  height: 300px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hungry_image_container img {
  width: 100%;
  height: 85%;
}

.image_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_title span {
  font: 700 18px / 22px Mulish, Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (min-width: 376px) {
  .section_heading_2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 600px) {
  .intro {
    height: 500px;
    margin-bottom: 30px;
    z-index: 1;
  }
  .intro_main {
    padding-bottom: 0;
  }
  .intro .intro_container .intro_content_container {
    display: flex;
    flex-direction: row;
    padding-top: 32px !important;
  }
  .intro
    .intro_container
    .intro_content_container
    .intro_content_container_inner {
    text-align: left;
    padding-top: 0 !important;
  }

  .intro .button_container button .btn_text {
    padding-left: 68px !important;
    padding-right: 68px !important;
  }
  .hungry_heading {
    font: 600 32px / 52px Mulish, Roboto, "Helvetica Neue", sans-serif;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    height: 448px;
    margin-bottom: 30px;
  }
  .section_heading_2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .intro .intro_container .intro_content_container {
    max-width: none !important;
  }

  .intro .intro_container .intro_content_container .pizza img {
    height: 300px;
    width: 375px;
  }
}

@media screen and (min-width: 1200px) {
  .intro .intro_container .intro_content_container .pizza {
    left: 0%;
  }
  .intro .intro_container .intro_content_container .pizza img {
    height: 350px;
    width: 438px;
  }
}
