.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
}

.header {
  background: rgb(248, 249, 250);
}

/* hanburger container */
.hamburger_container {
  display: none;
  width: 80px;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(0.3);
}

.stick {
  width: 80px;
  height: 8px;
  border: 4px;
  margin-bottom: 15px;
  background-color: black;
  display: inline-block;
}

.stick:last-child {
  margin-bottom: 0;
}

.stick1,
.stick2,
.stick3 {
  height: 8px;
}

.header_container,
.header_content {
  display: flex;
  align-items: center;
}

.header_container {
  justify-content: space-between;
  height: 55px;
  width: 100%;
  max-width: 1152px;
  margin: auto;
  z-index: 99;
}

.header_container .main_logo {
  padding: 0 20px;
}

.header_container .main_logo img {
  width: 115px;
  height: 44px;
}

.header_container .menu_items {
  display: flex;
  font-weight: 600;
}

.header_container .menu_items .menu_item {
  height: 55px;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  letter-spacing: 0.5px;
  position: relative;
}

.activeClass {
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #ff5567, #fc283f);
  transition: none;
  border-style: solid;
  border-width: 0 0 4px;
}

/* login section */
.login_button {
  padding: 8px 24px;
  margin: 5px;
  font-size: 13px;
  letter-spacing: 0.3px;
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  overflow: visible;
  min-width: 64px;
  line-height: 22px;
  border-radius: 6px;
  min-height: 32px;
}

.login_button,
.login_button_v2 {
  margin: 5px;
  font-size: 13px;
  letter-spacing: 0.3px;
}

.login_section {
  margin-left: 1rem;
  /* display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 0.75rem; */
  cursor: pointer;
  position: relative;
  /* top: 15px; */
  /* righ */
}

.cartimage {
  height: 28px;
  width: 28px;
}

.profile_image {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: none;
}

.login_section div {
  margin-left: 0.3rem;
}

.login_text {
  font-size: 0.75rem;
}

/* profile dropdown */
.relative_container {
  position: relative;
  /* top: 0.85rem; */
  /* display: none; */
}

.header_container .profile_dropdown {
  position: absolute;
  right: 0;
  width: 180px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 3px 8px 0 rgb(37 37 37 / 10%);
  display: none;
}

.header_container .profile_dropdown .user_name {
  padding: 12px 20px;
}

.logoutbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.logout_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 9px;
  width: 100px;
  border-radius: 100px;
  border: none;
  color: #fff;
}
.button_color {
  color: #fff;
}
/* responsive drawer */

.responsive_drawer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 55px);
  width: 50vw;
  background-color: #f1f6fa;
  transition: ease-in-out 0.4s;
  overflow-x: hidden;
  transform: translateX(0);
}

.active {
  display: none;
}

.active_drawer {
  display: flex;
  top: auto;
}

.responsive_drawer .responsive_drawer_content {
  padding: 40px 50px;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab_title {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-weight: 700;
  letter-spacing: 0.8px;
  font-size: 18px;
  cursor: pointer;
  /* color: #f9f9fa; */
}

.login_section:hover .profile_dropdown {
  display: block;
}

@media (max-width: 830px) {
  .header_container .hamburger_container {
    display: flex;
  }
  .middle_header .menu_items {
    display: none;
  }

  .login_section {
    position: relative;
    right: 8px;
    font-size: 0.5rem;
  }
  /* .login_section img {
    height: 22px;
    width: 22px;
  } */
  .login_text {
    font-size: 0.5rem;
  }
  .cartimage {
    height: 24px;
    width: 24px;
  }
}
